.header{
    background: #1F2937;
    padding: 20px;
}

.header_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.website_name {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
    margin-left: 200px;
    margin-right: 200px;
}

ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
    margin-right: 330px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.header_body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header_body_left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-right: 200px;
    gap: 10px;
}

.header_body_right {
    display: flex;
    margin-right: 330px;
}

.header_picture {
    max-height: 250px;
}

.slogan {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    max-width: 200px;
}

.description {
    color: white;
    font-size: 18px;
}

.header_button {
    max-width: 120px;
    border-radius: 8px;
    padding: 8px;
    background-color: blue;
    color: white;
    font-weight: 700;
}

.upper_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 300px;
}

.pictures {
    display: flex;
    gap: 40px;
}

.language_picture {
    max-height: 125px;
    border-color: lightblue;
    border-style: solid;
    border-radius: 8px;
    padding: 5px;
}

.language {
    max-width: 125px;
}

.mid_body {
    padding: 20px;
    height: 200px;
    background-color: gray;
    display: flex;
    justify-content: center;
}

.quote {
    font-size: 22px;
    flex-wrap: wrap;
    max-width: 600px;
}

.quote_author {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
}

.lower_body {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action_box {
    width: 670px;
    border-radius: 8px;
    display: flex;
    gap: 25px;
    background-color: lightblue;
    color: white;
    padding: 40px;
    justify-content: space-between;
}

.action_button {
    background-color: lightblue;
    color: white;
    width: 75px;
    border-radius: 8px;
    border-color: white;
    border-style: solid;
}

.footer {
    background: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}